<!DOCTYPE html>
<html>
    <head> 
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">                 
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by DPM.The site pulls data from mapbox.com and weatherstack.com</p>
            <img class = "potrait" src="/img/Play Leagues.PNG">
        </div>

        {{>footer}}          
    </body>

</html>